/* Main Content */
body{
    margin: 0;
    background-image: url(../img/bcc_cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px);
  }
  /* side menu */
  .sm-wrapper{
    margin-top: 10px;
  }
  
  .sidemenu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000080;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
  }
  .sidemenu a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    letter-spacing: 2px;
    margin-bottom: 15px;
    transition: 0.3s;
  }
  .sidemenu .close{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
  }
  .sm-wrapper a:hover,
  .sm-wrapper a.active {
    background-color: #b09335;
  }
  
  /* main content */
  .title_bg{
    background-color: #000080;
    position: fixed;
    width: 100%;
  }
  .bcctitlebar{
    margin-left: 60px;
    color: #fff;
  }
  #pg-content{
    transition: margin-left 0.5s;
    overflow: hidden;
  }
  .main-body{
    padding-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
  }
  /* form collapse */
  
  .new_sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
  }
  
  .new_sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    text-decoration: none;
    color: black;
  }
  
  .new_sidepanel form{
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .openbtn {
    font-size: 15px;
    cursor: pointer;
    background-color: #000080;
    color: white;
    padding: 10px 15px;
    border: none;
    text-align: left;
  }
  
  .openbtn:hover {
    background-color:#002900;
  }
  
  .new_sidepanel form input[type=text]{
    width: 100%;
    padding: 7px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-content: center;
  }
  
  .new_sidepanel form input[type=submit]{
    width: 100%;
    background-color: #000080;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .new_sidepanel form input[type=submit]:hover{
    background-color: #35afeb;
  }
  .new_sidepanel button{
   width: 100%;
    background-color: #000080;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: gray;
  }
  .new_sidepanel button:hover{
    background-color:#cdcbcb ;
  }
  .open{
    font-size: 32px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    position: absolute;
    margin-left: 10px;
  }
  @media(max-width: 500px){
    .open{
      font-size: 25px;
    }
  }